.c4-table {
  width: 100%;
  border: 2px solid #6F39D2;
}

.c4-table thead tr th {
  border-bottom: 2px solid #6F39D2;
}

.c4-table tbody tr td {
  border: 1px solid white;
}

.c4-table-cell {
  text-align: center;
  padding: 3px;
}
